@import 'tailwindcss';

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  /* counter item v1 */
  .counter-item--gradient {
    @apply relative px-9 font-medium;
    counter-increment: item;
  }

  .counter-item--gradient::before {
    @apply absolute left-0 flex h-6 w-6 items-center justify-center rounded-sm text-white;
    background: linear-gradient(to bottom right, #3b82f6, #06b6d4);
    content: counter(item);
    transition: transform 1s ease;
  }
  .counter-item--gradient:hover::before {
    transform: scale(110%);
  }

  /* counter item v2 */
  .counter-item--badge {
    @apply relative pl-7;
    counter-increment: item;
  }

  .counter-item--badge::before {
    content: counter(item);
    @apply absolute top-0.75 left-0 flex h-5 w-5 items-center justify-center rounded-full bg-indigo-600 text-sm font-bold text-white;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes moveLeftToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}

@keyframes stopSuddenly {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes dogMoveToHidden {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}

@keyframes ropeDrop {
  from{
    transform: rotate(5deg) translateY(0)  ;
  }to{
    transform: rotate(-15deg) translateY(25px)  ;
  }
}




.processing-bar-animation {
  animation: processingBarMove 0.8s ease-out forwards;
}


@keyframes processingBarMove {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


@layer utilities {
  /*  =========CUSTOM SCROLLBAR===========*/
  .scrollbar {
    scrollbar-color: #e2e8f0 #f8fafc; /* slate-200 */
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f8fafc; /* slate-50 */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5f5; /* slate-300 */
    border-radius: 999px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; /* slate-400 */
  }
}




.closed-card {
  width: 100px !important;
  height: 100px !important;
  border-radius: 10px;
}

.actived-card {
  position: absolute !important;
  top: 50%;
  left: 50%;
  z-index: 50 !important;
  transform: translate(-50%, -50%);
}

.number-blink {
  animation: blinkHighlight 0.6s ease-in-out 3;
}

@keyframes blinkHighlight {
  50% {
    background-color: var(--blink-color);
    color: white;
  }
}
