@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .custom-list-item {
    @apply relative px-9 font-medium;
    counter-increment: item;
  }

  .custom-list-item::before {
    @apply absolute left-0 flex h-6 w-6 items-center justify-center rounded-sm text-white;
    background: linear-gradient(to bottom right, #3b82f6, #06b6d4);
    content: counter(item);
  }
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes moveLeftToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}

@keyframes stopSuddenly {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes dogMoveToHidden {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}


@keyframes loadingMove{
  from {
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}


.closed-card{
  width: 100px !important;
  height:100px !important;
  border-radius: 10px;
 

}

.actived-card{
   position: absolute !important;
   top: 50%;
   left: 50%;
   z-index:50 !important;
   transform: translate(-50%, -50%);
  
}